*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: linear-gradient(135deg, #071e22 0%, #1d7874 100%);
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    

    
}

h1{
    font-size: 48px;
    color: #f4c095;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.form{
    display: flex;
    align-items: center;
    gap:10px;
}
.send{
    padding: 10px 20px;
    background-color: #0974a1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #679289;
    color:white;
}


.btnDel{
    background-color: #ee2e31;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: max-content;
}

p{  
    margin-bottom: 0;
    color:white;
    max-width: 80%; 
    height: max-content;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    
}
@media screen and (max-width:768px) {
    p{
        max-width: 250px;
    }
    
}